<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- OpenXR requires these features -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />

    <application>
        <!-- This is a library, so no application components are needed -->
    </application>
</manifest>
